@using Microsoft.Ajax.Utilities
@model LEDWeb.Models.LEDViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Welcome to LED!</h1>

@using (Html.BeginForm("Index","Home",FormMethod.Post)) {

	<div class="inputContainer">

		<p>
			Please enter a valid integer between 1 and 999: @Html.TextBoxFor(model => model.UserInput,new {
							id = "userInput"
							}) <input id="renderButton" type="submit" value="render" />
		</p>
	</div>

}

@if (!Model.UserInput.IsNullOrWhiteSpace()) {
	<div class="renderContainer">
		@if (!Model.InputIsValid) {
		<p class="invalidInput">Sorry, the value you entered, <strong>@Model.UserInput</strong>, is not valid.</p>
		} else {

		<p class="validInput">Render out: @Model.UserInput</p>
		<div class="RowOne">
			@Html.Raw(Model.RowContents[1].ToString())
		</div>

		<div class="RowTwo">
			@Html.Raw(Model.RowContents[2].ToString())
		</div>

		<div class="RowThree">
			@Html.Raw(Model.RowContents[3].ToString())
		</div>

		<div class="RowFour">
			@Html.Raw(Model.RowContents[4].ToString())
		</div>

		<div class="RowFive">
			@Html.Raw(Model.RowContents[5].ToString())
		</div>
		}
	</div>
}


